@model BookstoreApp.Web.ViewModels.Administration.Books.CreateBookInputModel
@{
	this.ViewData["Title"] = "Create book";
}

<h3>@this.ViewData["Title"]</h3>

<form method="post" class="col-md-6" enctype="multipart/form-data">
	<div asp-validation-summary="All" class="text-danger"></div>
	<partial name="_CreateEditBookPartial" model="@Model" />

	<button type="submit" class="btn btn-primary mt-3">Create</button>
</form>

@*@section Scripts {
	<!-- Add jQuery -->
	<script src="ttps://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Add Select2 CSS -->
	<link href="path/to/select2.min.css" rel="stylesheet" />

	<!-- Add Select2 JavaScript -->
	<script src="path/to/select2.min.js"></script>

	<script>
		$(document).ready(function () {
			// Apply Select2 to the dropdown with ID "myDropdown"
			$("#myDropdown").select2({
				placeholder: "Search for an item",
				allowClear: true, // This allows clearing the selection using the "x" button
				minimumResultsForSearch: 1 // Set the minimum number of results to display the search box
			});
		});
	</script>

}*@
