@model BookstoreApp.Web.ViewModels.Administration.Authors.CreateAuthorInputModel
@{
	this.ViewData["Title"] = "Create author";
}

<h3>@this.ViewData["Title"]</h3>

<form method="post" class="col-md-6">
	<div asp-validation-summary="All" class="text-danger"></div>
	<partial name="_CreateEditAuthorPartial" model="@Model" />

	<button type="submit" class="btn btn-primary mt-3">Create</button>
</form>

@*@section Scripts
{
	<script src="~/lib/select2/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#selectMultiple').select2();
		});
	</script>
}*@

