@model BookstoreApp.Web.ViewModels.Books.AllBooksListViewModel
@{
	this.ViewData["Title"] = "All books";
}

<h3 class="title text-dark">@this.ViewData["Title"]</h3>
@if (this.TempData.ContainsKey("Message"))
{
	<div class="alert alert-success">@this.TempData["Message"]</div>
}
<hr />
<div class="row">
	@foreach (var book in this.Model.Books)
	{
		<partial name="_SmallBookPartial" model="@book" />
	}
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />


