@using BookstoreApp.Common
@model BookstoreApp.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
    <p>In this website you can find:</p>
    <ul class="list-group">
            <li class="list-group-item"><span style="color:orangered;font-weight:bold;">@Model.BooksCount</span> books</li>
            <li class="list-group-item">from <span style="color:orangered;font-weight:bold;">@Model.AuthorsCount</span> authors</li>
            <li class="list-group-item">in <span style="color:orangered;font-weight:bold;">@Model.GenresCount</span> genres.</li>
    </ul>
    </div>
</div>
